[core]
	excludesfile = ~/.gitignore
	autocrlf = input
	symlinks = true
[alias]
	gone = "!git fetch --prune && git branch -vv | grep ': gone]' | grep -v '^\\*' | awk '{print $1}' | xargs -r git branch -d"
	purge-local = "!f() { git fetch --prune && comm -23 <(git branch | sed 's/^[ *]*//' | sort) <(git branch -r | sed 's/^[^\\/]*\\///' | sort) | grep -v -E '^(master|main|dev)$' | xargs -r git branch -D; }; f"
	grog = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"
# [column]
# 	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[init]
	defaultBranch = master
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[push]
	default = simple
	autoSetupRemote = true
	followTags = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[help]
	autocorrect = prompt
[commit]
	verbose = true
[rerere]
	enabled = true
	autoupdate = true
[merge]
	conflictstyle = zdiff3
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
[format]
	pretty = format:%C(cyan bold)%H%C(reset) %ci %C(italic)(%cr)%C(reset) %C(blue)%cn%C(reset) %C(auto,bold)%G?(%GT)%C(reset) %C(green)%s%C(magenta)%d%C(reset) %C(red)(%an)%C(reset) %C(yellow)[%p]%C(reset)
[gpg "ssh"]
	allowedSignersFile = ~/.config/git/allowed-signers
[include]
	path = ~/.gitconfig-local
